<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.example.project_2.model.BoardModel"  alias="boardModel"/>
    </typeAliases>

    <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="/mybatis/board.xml"/>
    </mappers>

</configuration>